body {
    font-family: Arial;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.hero {
    text-align: center;
    padding: 60px;
    background: #f5f5f5;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}

.outline {
    background: white;
    color: orange;
    border: 2px solid orange;
}

#menu {
    padding: 40px;
}

.filters button {
    margin: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

/* 🔥 ABOUT STYLE */
#about {
    padding: 40px;
    background: #fafafa;
}

#about h1 {
    text-align: center;
}

#about p {
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

#visit {
    padding: 50px 3%;
    text-align: center;
}

#visit h1 {
    font-size: 32px;
}

.subtitle {
    color: gray;
    margin-bottom: 30px;
}

.visit-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.visit-card {
    flex: 1;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
}